<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://tools.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".TaxiApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClientApp"
        android:usesCleartextTraffic="false"

        android:localeConfig="@xml/locales_config"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_icon_bg" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKeyPlaceholder}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKeyPlaceholder}" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:theme="@style/Theme.ClientApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="unit-taxi" android:host="open" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AgreementActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".UserDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AddressPickerActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".CityPickerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".FavoriteAddressesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".PromoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".StatsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HelpWaitingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HelpPaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HelpTariffsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".HelpDiscountsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ServicesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NoInternetActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.OrderStatusService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>